[Desktop Entry]
Name=GameCenter
Name[el]=GameCenter
Name[es]=GameCenter
Name[it]=GameCenter
Name[nl]=GameCenter
Name[pt_BR]=GameCenter
Name[sk]=GameCenter
Name[uk]=Центр ігор
Name[x-test]=xxGameCenterxx
Comment=GameCenter Kirigami Application
Comment[el]=GameCenter εφαρμογή kirigami
Comment[es]=Aplicación de Kirigami GameCenter
Comment[it]=Applicazione Kirigami GameCenter
Comment[nl]=Kirigami-toepassing GameCenter
Comment[sk]=Kirigami aplikácia GameCenter
Comment[uk]=Програма на Kirigami «Центр ігор»
Comment[x-test]=xxGameCenter Kirigami Applicationxx
Version=1.0
Exec=kalendar
MimeType=application/x-kalendar;
Icon=applications-development
Type=Application
Terminal=false
Categories=Qt;KDE;
