[Desktop Entry]
Name=Kalendar
Name[ca]=Kalendar
Name[ca@valencia]=Kalendar
Name[cs]=Kalendar
Name[el]=Kalendar
Name[en_GB]=Kalendar
Name[es]=Kalendar
Name[fi]=Kalendar
Name[fr]=Kalendar
Name[it]=Kalendar
Name[ko]=Kalendar
Name[nl]=Kalendar
Name[pl]=Kalendarz
Name[pt]=Kalendar
Name[pt_BR]=Kalendar
Name[sl]=Kalendar
Name[sv]=Kalendar
Name[uk]=Kalendar
Name[x-test]=xxKalendarxx
Name[zh_CN]=Kalendar
GenericName=Calendar application
Comment=Manage your tasks and events with Kalendar
Version=1.0
Exec=kalendar
Categories=Qt;KDE;Office;Calendar;
MimeType=application/x-kalendar;
Icon=org.kde.kalendar
Type=Application
Terminal=false
StartupNotify=true
