[Desktop Entry]
Name=Kalendar
Name[ca]=Kalendar
Name[cs]=Kalendar
Name[es]=Kalendar
Name[nl]=Kalendar
Name[sl]=Kalendar
Name[sv]=Kalendar
Name[uk]=Kalendar
Name[x-test]=xxKalendarxx
Comment=A calendar application
Comment[ca]=Una aplicació de calendari
Comment[cs]=Aplikace kalendáře
Comment[es]=Aplicación de calendarios
Comment[nl]=Een agenda-toepassing
Comment[sl]=Aplikacija Koledar
Comment[sv]=Ett kalenderprogram
Comment[uk]=Програма-календар
Comment[x-test]=xxA calendar applicationxx
Version=1.0
Exec=kalendar
MimeType=application/x-kalendar;
Icon=applications-development
Type=Application
Terminal=false
Categories=Qt;KDE;
