# SPDX-FileCopyrightText: 2022 Carl Schwan <carl@carlschwan.eu>
# SPDX-License-Identifier: BSD-2-Clause

[Desktop Entry]
Name=Contact
Name[ar]=المراسَل
Name[az]=Əlaqə
Name[ca]=Contact
Name[ca@valencia]=Contact
Name[cs]=Kontakt
Name[de]=Kontakt
Name[en_GB]=Contact
Name[es]=Contacto
Name[fi]=Yhteystieto
Name[fr]=Contact
Name[it]=Contatto
Name[nl]=Contactpersoon
Name[pt]=Contacto
Name[pt_BR]=Contato
Name[sl]=Contact
Name[sv]=Kontakt
Name[ta]=தொடர்பு
Name[tr]=Kişi
Name[uk]=Контакт
Name[x-test]=xxContactxx
Comment=Contact list
Comment[ar]=قائمة المراسلين
Comment[az]=Əlaqələr siyahısı
Comment[ca]=Llista de contactes
Comment[ca@valencia]=Llista de contactes
Comment[cs]=Seznam kontaktů
Comment[de]=Kontaktliste
Comment[en_GB]=Contact list
Comment[es]=Lista de contactos
Comment[fi]=Yhteystietoluettelo
Comment[fr]=Liste de contacts
Comment[it]=Elenco dei contatti
Comment[nl]=Contactenlijst
Comment[pt]=Lista de contactos
Comment[pt_BR]=Lista de contatos
Comment[sl]=Seznam stikov
Comment[sv]=Kontaktlista
Comment[ta]=தொடர்புப்பட்டியல்
Comment[tr]=Kişi listesi
Comment[uk]=Список контактів
Comment[x-test]=xxContact listxx
Icon=im-user
Type=Service
X-KDE-ServiceTypes=Plasma/Applet

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml

X-Plasma-NotificationArea=true
X-Plasma-NotificationAreaCategory=PIM

X-KDE-PluginInfo-Name=org.kde.kalendar.contact
X-KDE-PluginInfo-Category=Personal information
X-KDE-PluginInfo-Author=Carl Schwan
X-KDE-PluginInfo-Email=carl@carlschwan.eu
X-KDE-PluginInfo-Version=1.0.0
X-KDE-PluginInfo-Website=https://apps.kde.org/kalendar
X-KDE-PluginInfo-License=GPL-3.0-or-later
X-KDE-PluginInfo-EnabledByDefault=true
