# SPDX-FileCopyrightText: 2021 Carl Schwan <carl@carlschwan.eu>
# SPDX-FileCopyrightText: 2021 Claudio Cambra <claudio.cambra@gmail.com>
# SPDX-License-Identifier: CC0-1.0

[Desktop Entry]
Name=Calendar
Name[ca]=Calendar
Name[ca@valencia]=Calendari
Name[eo]=Calendar
Name[es]=Calendar
Name[ka]=კალენდარი
Name[nl]=Agenda
Name[sl]=Koledar
Name[tr]=Takvim
Name[uk]=Календар
Name[x-test]=xxCalendarxx
GenericName=Calendar
GenericName[ca]=Calendari
GenericName[ca@valencia]=Calendari
GenericName[eo]=Kalendaro
GenericName[es]=Calendar
GenericName[ka]=კალენდარი
GenericName[nl]=Calendar
GenericName[sl]=Koledar
GenericName[tr]=Takvim
GenericName[uk]=Календар
GenericName[x-test]=xxCalendarxx
Keywords=Kalendar, Events
Keywords[ca]=Kalendar, Esdeveniments
Keywords[ca@valencia]=Kalendar, Esdeveniments
Keywords[eo]=Kalendaro, Eventoj
Keywords[es]=Kalendar, eventos
Keywords[ka]=Kalendar, მოვლენები
Keywords[nl]=Agenda, afspraken
Keywords[sl]=Kalendar, Dogodki
Keywords[tr]=Takvimci, Etkinlikler
Keywords[uk]=Kalendar, події
Keywords[x-test]=xxKalendar, Eventsxx
Comment=Manage your tasks and events with Calendar
Comment[ca]=Gestioneu les tasques i esdeveniments amb el Calendar
Comment[ca@valencia]=Gestioneu les tasques i esdeveniments amb el Calendari
Comment[eo]=Mastrumu viajn taskojn kaj eventojn per Calendar
Comment[es]=Gestione tareas y eventos con Calendar
Comment[ka]=მართეთ თქვენი დავალებები და მოვლენები Kalendar-თან ერთად
Comment[nl]=Uw taken en afspraken beheren met Calendar
Comment[sl]=Upravljajte vaše naloge in dogodke s programom Calendar
Comment[tr]=Takvim ile görevlerinizi ve etkinliklerinizi yönetin
Comment[uk]=Керуйте вашими записами завдань і подій за допомогою Календаря
Comment[x-test]=xxManage your tasks and events with Calendarxx
Exec=kalendar-calendar %u
Categories=Qt;KDE;Office;Calendar;
Icon=org.kde.kalendar
Type=Application
Terminal=false
StartupNotify=true
MimeType=text/calendar;
SingleMainWindow=true
