# SPDX-FileCopyrightText: 2021 Claudio Cambra <claudio.cambra@gmail.com>
# SPDX-License-Identifier: CC0-1.0

[Desktop Entry]
Name=Kalendar Reminder Client
Exec=kalendarac
Icon=org.kde.kalendar
Type=Application
Categories=Qt;KDE;
GenericName=Kalendar Reminder Daemon Client
Terminal=false
X-KDE-autostart-phase=2
X-KDE-autostart-condition=kalendaracrc:General:Autostart:true
X-DBUS-StartupType=Unique

