# SPDX-FileCopyrightText: 2021 Claudio Cambra <claudio.cambra@gmail.com>
# SPDX-License-Identifier: CC0-1.0

[Desktop Entry]
Name=Kalendar Reminder Client
Name[ca]=Client de recordatori del Kalendar
Name[ca@valencia]=Client de recordatori del Kalendar
Name[de]=Kalendar-Erinnerungsprogramm
Name[el]=Εφαρμογή υπενθυμίσεων Kalendar
Name[en_GB]=Kalendar Reminder Client
Name[es]=Cliente de recordatorios de Kalendar
Name[et]=Kalendar meeldetuletuste klient
Name[eu]=Kalendar-ko oroitzeko bezeroa
Name[fi]=Kalendarn muistutusasiakas
Name[fr]=Client de rappel Kalendar
Name[gl]=Cliente de lembranzas de Kalendar
Name[ia]=Cliente de remoration de Clindori
Name[it]=Client promemoria Kalendar
Name[ko]=Kalendar 알림 클라이언트
Name[nl]=Kalendar client voor herinnering
Name[nn]=Kalendar-påminnings­klient
Name[pa]=ਕੈਲਿੰਡੋਰੀ ਰਿਮਾਈਂਡਰ ਕਲਾਈਂਟ
Name[pl]=Klient przypominania Kalendar
Name[pt]=Cliente de Chamadas de Atenção do Kalendar
Name[pt_BR]=Daemon do cliente de lembretes Kalendar
Name[sl]=Kalendar odjemalec opomnikov
Name[sv]=Kalendar påminnelseklient
Name[uk]=Клієнт нагадування Kalendar
Name[x-test]=xxKalendar Reminder Clientxx
Name[zh_CN]=Kalendar 提醒客户端
Name[zh_TW]=Kalendar 提醒用戶端
Exec=kalendarac
Icon=org.kde.kalendar
Type=Application
Categories=Qt;KDE;
GenericName=Kalendar Reminder Daemon Client
GenericName[ca]=Client del dimoni de recordatori del Kalendar
GenericName[ca@valencia]=Client del dimoni de recordatori del Kalendar
GenericName[de]=Dienst für das Kalendar-Erinnerungsprogramm
GenericName[el]=Εφαρμογή δαίμονα υπενθυμίσεων Kalendar
GenericName[en_GB]=Kalendar Reminder Daemon Client
GenericName[es]=Cliente del demonio de recordatorios de Kalendar
GenericName[et]=Kalendar meeldetuletuste deemoni klient
GenericName[eu]=Kalendar-ko oroitzeko bezeroaren daimona
GenericName[fi]=Kalendarn muistutuspalveluasiakas
GenericName[fr]=Client du démon de rappel Kalendar
GenericName[gl]=Cliente do servizo de lembranzas de Kalendar
GenericName[ia]=Cliente Daemon pro rememoration de Kalendar
GenericName[it]=Client promemoria del demone di Kalendar
GenericName[ko]=Kalendar 알림 데몬 클라이언트
GenericName[nl]=Kalendar client voor herinneringsdaemon
GenericName[nn]=Kalendar-påminnings­teneste-klient
GenericName[pa]=ਕੈਲਿੰਡੋਰੀ ਰਿਮਾਈਂਡਰ ਡੈਮਨ ਕਲਾਈਂਟ
GenericName[pl]=Klient usługi przypominania Kalendar
GenericName[pt]=Cliente do Serviço de Chamadas de Atenção do Kalendar
GenericName[pt_BR]=Cliente de lembretes Kalendar
GenericName[sl]=Kalendar demon odjemalca opomnikov
GenericName[sv]=Kalendar påminnelsedemonklient
GenericName[uk]=Клієнт фонової служби нагадування Kalendar
GenericName[x-test]=xxKalendar Reminder Daemon Clientxx
GenericName[zh_CN]=Kalendar 提醒守护进程客户端
GenericName[zh_TW]=Kalendar 提醒守護用戶端
Terminal=false
X-KDE-autostart-phase=2
X-KDE-autostart-condition=kalendaracrc:General:Autostart:true
X-DBUS-StartupType=Unique

