[Desktop Entry]
MimeType=text/calendar;
Comment=Calendar and Scheduling Program

Icon=kalendar
Type=Service
Name=Kalendar

X-KDE-ServiceTypes=KParts/Part
X-KDE-Library=kalendarpart

